body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  max-height: 100vh;
}

#root{
  height: 100%;
}

#page{
  height: 100%;
}

header{
  display: flex;
  border-bottom: 1px solid black;
}

#title{
  margin: 10px auto;
  text-align: center;
}

#title h1{
  margin:0;
}

#title p{
  margin: 5px 0;
}

#menu{
  margin: auto 0 auto 25px;
  font-size: 30px;
}

section{
  display: flex;
  height: calc(100% - 90px);
}

#tab{
  height: 100%;
  width:20%;
  border-right: 1px solid black;
}

#tab-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  font-size: 16pt;
  width:100%;
  border-bottom: 1px solid black;
}

#tab-title{
  margin: 0;
  margin-left: 15px;
  font-weight: 900;
}

#add-btn{
  padding: 15px 30px;
  margin: 0;
  font-size: 20pt;
}

#add-btn:hover{
  background-color:#46324B;
  color: white;
}

#note-space{
  text-align: center;
  margin: auto;
  font-size: 25pt;
  color: darkgray;
}
